flows/apps/chat.yaml
id: chat
namespace: company.team.lighthouse.serve
type: io.kestra.plugin.ee.apps.App
description: |
  Chat-the-brief App. A form takes the question + topic, the App triggers
  `serve.chat_brief` (RAG over pgvector with multi-LLM fallback), and renders
  the answer with citations.

labels:
  layer: app

blocks:
  - id: header
    type: io.kestra.plugin.ee.apps.blocks.Markdown
    content: |
      # Chat the brief
      Ask anything about the last 7 days of research for the picked topic.

  - id: form
    type: io.kestra.plugin.ee.apps.blocks.Form
    title: Question
    submitLabel: Ask
    onSubmit:
      type: io.kestra.plugin.core.flow.Subflow
      namespace: company.team.lighthouse.serve
      flowId: chat_brief
      inputs:
        topic_id: "{{ block('form').topic_id }}"
        question: "{{ block('form').question }}"
        session_id: "{{ block('form').session_id ?? execution.id }}"
    inputs:
      - id: topic_id
        type: SELECT
        values:
          - agentic-eng
          - solana-zk
          - indie-saas
          - data-eng-ai
        defaults: agentic-eng
      - id: question
        type: STRING
      - id: session_id
        type: STRING
        defaults: ""

  - id: answer
    type: io.kestra.plugin.ee.apps.blocks.Markdown
    description: Renders the most recent `chat_brief` execution's `answer` output.
    content: |
      ## Answer
      {{ block('form').lastExecution.outputs.answer ?? '_Run a question above to see an answer._' }}

  - id: history
    type: io.kestra.plugin.ee.apps.blocks.Table
    query:
      type: io.kestra.plugin.jdbc.postgresql.Query
      url: "jdbc:postgresql://{{ secret('POSTGRES_HOST') }}:{{ secret('POSTGRES_PORT') }}/{{ secret('POSTGRES_DB') }}"
      username: "{{ secret('POSTGRES_USER') }}"
      password: "{{ secret('POSTGRES_PASSWORD') }}"
      sql: |
        SELECT created_at, role, LEFT(content, 240) AS content
        FROM lh.chat_history
        WHERE session_id = '{{ block("form").session_id ?? execution.id }}'
        ORDER BY created_at DESC
        LIMIT 20;
