flows/ingest/web_articles.yaml
id: web_articles
namespace: company.team.lighthouse.ingest
description: |
  Generic web-article ingest with the multi-tier extraction fallback chain
  (Trafilatura → Jina Reader → headless Playwright). Realtime trigger fires
  when Miniflux pushes a webhook (we re-fetch full text), and a scheduled
  trigger sweeps the topic profile's `web_extra` URLs.

  Pattern: each tier's task uses `runIf` to fire only if the previous tier
  produced no output, with `allowFailure: true` and a constant retry. This is
  the same shape used in `process/classify.yaml`; see that file's header
  comment for the underlying blog reference.

labels:
  topic: "{{ inputs.topic_id }}"
  source: web
  layer: ingest

inputs:
  - id: topic_id
    type: STRING
    defaults: agentic-eng
  - id: urls
    type: ARRAY
    itemType: STRING
    defaults: []

concurrency:
  limit: 10
  behavior: QUEUE

taskDefaults:
  - type: io.kestra.plugin.jdbc.postgresql.Queries
    values:
      url: "jdbc:postgresql://{{ secret('POSTGRES_HOST') }}:{{ secret('POSTGRES_PORT') }}/{{ secret('POSTGRES_DB') }}"
      username: "{{ secret('POSTGRES_USER') }}"
      password: "{{ secret('POSTGRES_PASSWORD') }}"

tasks:
  - id: load_profile
    type: io.kestra.plugin.core.namespace.DownloadFiles
    namespace: "{{ flow.namespace }}"
    files:
      - "topics/{{ inputs.topic_id }}.yaml"

  - id: build_targets
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      image: lighthouse/worker:latest
    inputFiles:
      profile.yaml: "{{ read('topics/' ~ inputs.topic_id ~ '.yaml') }}"
      override.json: "{{ inputs.urls | json }}"
    outputFiles:
      - targets.json
    script: |
      import json, yaml, hashlib
      profile = yaml.safe_load(open("profile.yaml"))
      override = json.load(open("override.json")) or []
      urls = override or (profile.get("sources", {}) or {}).get("web_extra", []) or []
      targets = []
      for u in urls:
          targets.append({
              "topic_id": "{{ inputs.topic_id }}",
              "url": u,
              "source_id": hashlib.sha1(u.encode()).hexdigest(),
          })
      json.dump(targets, open("targets.json", "w"), ensure_ascii=False)
      print(f"prepared {len(targets)} targets")

  # Tier 1 — Trafilatura via the worker container.
  - id: extract_trafilatura
    type: io.kestra.plugin.scripts.python.Script
    description: Tier 1 — Trafilatura. Allowed to fail; the next tier picks up.
    allowFailure: true
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      image: lighthouse/worker:latest
    inputFiles:
      targets.json: "{{ outputs.build_targets.outputFiles['targets.json'] }}"
    outputFiles:
      - extracted.json
    script: |
      import json, subprocess, sys
      targets = json.load(open("targets.json"))
      if not targets:
          json.dump([], open("extracted.json", "w"))
          sys.exit(0)
      r = subprocess.run(
          ["python", "/app/scripts/extract_trafilatura.py"],
          input=json.dumps(targets),
          capture_output=True,
          text=True,
          timeout=600,
      )
      if r.returncode != 0:
          sys.stderr.write(r.stderr)
          json.dump([], open("extracted.json", "w"))
          sys.exit(0)
      open("extracted.json", "w").write(r.stdout or "[]")
    retry:
      type: constant
      maxAttempts: 3
      interval: PT1S

  # Tier 2 — Jina Reader. Runs only if tier 1 produced an empty list.
  - id: extract_jina
    type: io.kestra.plugin.scripts.python.Script
    description: Tier 2 — Jina Reader fallback. Same fallback shape as the AI classify chain.
    runIf: "{{ (outputs.extract_trafilatura.outputFiles['extracted.json'] is null) or (read(outputs.extract_trafilatura.outputFiles['extracted.json']) == '[]') }}"
    allowFailure: true
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      image: lighthouse/worker:latest
    inputFiles:
      targets.json: "{{ outputs.build_targets.outputFiles['targets.json'] }}"
    outputFiles:
      - extracted.json
    script: |
      import json, sys
      import httpx
      targets = json.load(open("targets.json"))
      out = []
      with httpx.Client(timeout=30.0) as client:
          for t in targets:
              r = client.get(f"https://r.jina.ai/{t['url']}", headers={"Accept": "text/markdown"})
              if r.status_code != 200 or not r.text.strip():
                  continue
              out.append({**t, "title": None, "text": r.text, "language": None, "tier": "jina"})
      json.dump(out, open("extracted.json", "w"), ensure_ascii=False)
      print(f"jina extracted {len(out)} items")
    retry:
      type: constant
      maxAttempts: 3
      interval: PT1S

  # Tier 3 — Playwright in Docker. Last resort for JS-heavy pages.
  - id: extract_playwright
    type: io.kestra.plugin.scripts.python.Script
    description: Tier 3 — headless Playwright fallback.
    runIf: |
      {{
        ((outputs.extract_trafilatura.outputFiles['extracted.json'] is null) or (read(outputs.extract_trafilatura.outputFiles['extracted.json']) == '[]'))
        and ((outputs.extract_jina.outputFiles['extracted.json'] is null) or (read(outputs.extract_jina.outputFiles['extracted.json']) == '[]'))
      }}
    allowFailure: true
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      image: lighthouse/worker:latest
    inputFiles:
      targets.json: "{{ outputs.build_targets.outputFiles['targets.json'] }}"
    outputFiles:
      - extracted.json
    script: |
      import json, sys
      from playwright.sync_api import sync_playwright

      targets = json.load(open("targets.json"))
      out = []
      with sync_playwright() as p:
          browser = p.chromium.launch(args=["--no-sandbox"])
          ctx = browser.new_context()
          for t in targets:
              page = ctx.new_page()
              try:
                  page.goto(t["url"], timeout=45000, wait_until="domcontentloaded")
                  text = page.evaluate("document.body.innerText")
                  title = page.title()
                  if text and len(text) > 200:
                      out.append({**t, "title": title, "text": text, "language": None, "tier": "playwright"})
              except Exception as exc:
                  print(f"playwright failed for {t['url']}: {exc}", file=sys.stderr)
              finally:
                  page.close()
          ctx.close()
          browser.close()
      json.dump(out, open("extracted.json", "w"), ensure_ascii=False)
      print(f"playwright extracted {len(out)} items")
    retry:
      type: constant
      maxAttempts: 2
      interval: PT2S

  - id: merge_and_persist
    type: io.kestra.plugin.scripts.python.Script
    description: Pick the highest-tier successful extraction per URL.
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      image: lighthouse/worker:latest
    inputFiles:
      tier1.json: "{{ outputs.extract_trafilatura.outputFiles['extracted.json'] ?? '' }}"
      tier2.json: "{{ outputs.extract_jina.outputFiles['extracted.json'] ?? '' }}"
      tier3.json: "{{ outputs.extract_playwright.outputFiles['extracted.json'] ?? '' }}"
    outputFiles:
      - documents.json
    script: |
      import json, os
      def load(path):
          if not os.path.exists(path) or not open(path).read().strip():
              return []
          try:
              return json.load(open(path))
          except Exception:
              return []
      tiers = [load("tier1.json"), load("tier2.json"), load("tier3.json")]
      best = {}
      for tier in tiers:
          for item in tier:
              best.setdefault(item["url"], item)
      docs = []
      for item in best.values():
          docs.append({
              "topic_id": item["topic_id"],
              "source": "web",
              "source_id": item["source_id"],
              "url": item["url"],
              "title": item.get("title"),
              "author": item.get("author"),
              "published_at": item.get("published"),
              "raw_text": item.get("text", ""),
              "language": item.get("language"),
              "metadata": {"tier": item.get("tier", "trafilatura")},
          })
      json.dump(docs, open("documents.json", "w"), ensure_ascii=False)
      print(f"merged {len(docs)} documents")

  - id: insert_documents
    type: io.kestra.plugin.jdbc.postgresql.Queries
    sqlType: PREPARED
    sql: |
      INSERT INTO lh.documents (topic_id, source, source_id, url, title, author, published_at, raw_text, language, metadata)
      SELECT
        d->>'topic_id', d->>'source', d->>'source_id',
        d->>'url', d->>'title', d->>'author',
        NULLIF(d->>'published_at','')::timestamptz,
        d->>'raw_text', d->>'language',
        COALESCE(d->'metadata', '{}'::jsonb)
      FROM jsonb_array_elements('{{ read(outputs.merge_and_persist.outputFiles['documents.json']) }}'::jsonb) AS d
      ON CONFLICT (topic_id, source, source_id) DO UPDATE
        SET raw_text = EXCLUDED.raw_text,
            metadata = EXCLUDED.metadata,
            fetched_at = now()
      RETURNING id;
    fetchType: STORE

  - id: emit_done
    type: io.kestra.plugin.core.log.Log
    message: "web_articles ingest topic={{ inputs.topic_id }} inserted_rows={{ outputs.insert_documents.size ?? 0 }}"

triggers:
  - id: schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "15 */6 * * *"
    inputs:
      topic_id: agentic-eng

  - id: webhook
    type: io.kestra.plugin.core.trigger.Webhook
    key: web-article
    description: |
      Realtime — Miniflux (or any source) POSTs `{topic_id, urls: [...]}` here.

errors:
  - id: log_failure
    type: io.kestra.plugin.core.log.Log
    level: ERROR
    message: "web_articles ingest failed topic={{ inputs.topic_id }}: {{ errorLogs() }}"
